charts:
    - name: kyverno
      repo:
        name: kyverno
        url: https://kyverno.github.io/kyverno
      valuesFilePath: /home/will/code/deployment/ops/apps/values/aks-ops-nonprod-uksouth/kyverno/values.yaml
      version: 3.5.2
import:
    copacetic:
        enabled: false
    enabled: false
    replaceRegistryReferences: true
parser:
    useCustomValues: true
registries:
    - insecure: true
      name: localhost
      plainHTTP: true
      sourcePrefix: true
      url: localhost:5000
update: false
verbose: true